*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}


.hero-section{
  background-image: url(/Assets/images/background-one.png);

  background-size: cover;
  height: 862.63px;
  padding: 22.58px 154.74px 59.44px 120.31px;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
}

ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

 ul a{
  padding: 39.53px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150.1%;
  text-align: center;  
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  
}

a:hover{
  color: black;
}

.modern-software{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.software-triangle{
  width: 583.29px;
  height: 540.21px;
}
.software-triangle img{
  width: 100%;
  height: 100%;
}

.text h3{
  font-weight: 900;
  font-size: 44px;
  line-height: 143.1%;
  color: #FFFFFF;
}

.text p{
  font-weight: 400;
  font-size: 24px;
  line-height: 150.1%;
  color: #FFFFFF;
  margin-top: 27.31px;

}
 
.text button{
  font-weight: 400;
  font-size: 16px;
  line-height: 143.1%;
  text-align: center;
  color: #FFFFFF;
  width: 147.02px;
  height: 45.83px;
  background: rgba(113, 213, 255, 0.24);
  border-radius: 90px;
  border: none;
  color: #FFFFFF;
  margin-top:53.7px;
  cursor: pointer;
}

button:hover{
  background-color: black;
}

.icons{
  width: 143.88px;
  height: 17.41px;
  margin-top: 100.89px;
}

.facebook{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.instagram{
  width:100%;
  height: 100%;
  cursor: pointer;
}

.linkedin{
  width:100%;
  height: 100%;
  cursor: pointer;
}

.twitter{
  width:100%;
  height: 100%;
  cursor: pointer;
}

.icons{
  display: flex;
  justify-content: space-between;
}

/* SERVICE SECTION */
.service-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-section h2{
  margin-top: -25px;
  font-weight: 900;
  font-size: 18px;
  line-height: 143.1%;
  color: #FF688C;

}

.service-section h3{
  font-weight: 900;
  font-size: 38px;
  line-height: 143.1%;
  text-align: center;
  width: 615.11px;
height: 108px;
  color: #000000;
  margin-top: 16.03px;
}

.service-section p{
  font-weight: 400;
  font-size: 18px;
  line-height: 143.1%;
  text-align: center;
  margin-top: 50.35px;
  color: #7F7E7E;
}

/* TRIANGLE SECTION */


.shape-section{
    
  /* padding:0px 179.2px 0px ; */
  }


.triangle-section{
  display: flex;
  justify-content: space-between;
  gap: 37.25px;
  padding:131px 119.62px 0px ;
}

 
 .edge-triangle{
  width: 465.94px;
  height: 467.15px;
 }

 .edge-triangle img{
  width: 100%;
  height: 100%;
 }

.triangle-text h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 143.1%;  
  color: #000000;
  text-align: center;
  margin-top:123px;
  margin-bottom: 64.34px;
  width: 615.11px;
  
}

.triangle-text p{
  font-weight: 400;
  font-size: 18px;
  line-height: 143.1%;
  color: #7F7E7E;
  text-align: justify;
  width: 488.87px;
  padding-left: 126.76px;
}

/* CIRCLE SECTION */

.circle-section{
  display: flex;
  justify-content: space-between;
  gap: 37.25px;
  padding: 0px 180px 0px;
}

 
 /* .edge-circle{
  width: 460.6px;
  height: 346.91px;
 }

 .edge-circle img{
  width: 100%;
  height: 100%;
 } */

.circle-text h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 143.1%;  
  color: #000000;
  text-align: center;
  margin-top:106.82px;
  margin-bottom: 64.34px;
  width: 615.11px;
  
}

.circle-text p{
  font-weight: 400;
  font-size: 18px;
  line-height: 143.1%;
  color: #7F7E7E;
  text-align: justify;
  width: 403.87px;
  padding-left: 35px;
}

  
/* SQUARE SECTION */

.square-section{
  display: flex;
  justify-content: space-between;
  gap: 37.25px;
  padding: 0px 166.54px 0px;
}

 
 /* .edge-square{
  width: 368.26px;
  height: 319.36px; 
 }

 .edge-square img{
  width: 100%;
  height: 100%;
  padding-left: 45px;;
 } */

.square-text h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 143.1%;  
  color: #000000;
  text-align: center;
  margin-top: 80.73px;
  margin-bottom: 64.34px;
  width: 615.11px;
  
}

.square-text p{
  font-weight: 400;
  font-size: 18px;
  line-height: 143.1%;
  color: #7F7E7E;
  text-align: justify;
  width: 488.87px;
  padding-left: 126.76px;
}

.square-section{
  margin-top: 89.64px;
}


/* PORTFOLIO SECTION */
.portfolio{
  padding: 0px 119.46px 0px;
}
.portfolio-grid img{
  width: 374.41px;
  height: 464.05px;
}

.portfolio-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio h2{
  margin-top: 300px;
  font-weight: 900;
  font-size: 18px;
  line-height: 143.1%;
  text-align: center;
  color: #FF688C;
}

.portfolio h3{
  font-weight: 900;
  font-size: 38px;
  line-height: 143.1%;
  text-align: center;
  color: #000000;
  margin-top: 16.03px;
  width: 615.11px;
height: 108px;
}

.portfolio p{
  font-weight: 400;
  font-size: 18px;
  line-height: 143.1%;
  text-align: center;
  color: #7F7E7E;
  margin-top: 50.35px;
  margin-bottom: 64.99px;
  width: 403.87px;
}

.portfolio-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

}

.btn{
text-align: center;
  
}

.btn button{
  width: 147.02px;
  height: 45.83px;
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  border-radius: 90px;
  font-weight: 400;
  font-size: 16px;
  line-height: 143.1%;
  /* identical to box height, or 23px */

  text-align: center;

color: #FF688C;
}
/* OUR TEAM SECTION */

.our-team{
  padding: 0px 123.01px 0px;
}

.team-text h2{
  margin-top: 216.96px;
  font-weight: 900;
  font-size: 18px;
  line-height: 143.1%;
  text-align: center;
  color: #FF688C;
}

.team-text h3{
  font-weight: 900;
  font-size: 38px;
  line-height: 143.1%;
  text-align: center;
  color: #000000;
  width: 615.11px;
height: 108px;
  margin-top: 16.03px
}

.team-text p{
  font-weight: 400;
  font-size: 18px;
  line-height: 143.1%;
  text-align: center;
  color: #7F7E7E;
  margin-top: 50.35px;
  margin-bottom: 64.99px;
  width: 403.87px;
}

.team-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team{
  display: flex;
  justify-content: space-between;
  gap: 17px;
  /* width: 274px;
  height: 342.39px; */
}

.team-image h2{
  margin-top: 26px;
  font-weight: 700;
  font-size: 18px;
  line-height: 143.1%;
  color: #000000;
}


.team-image p{
  font-weight: 400;
  font-size: 16px;
  line-height: 143.1%;

  color: #696969;

}

 .rainbow-image{
 width: 1342.20px;
 height: 299.7px;
}


.rainbow-image img{
  width: 100%;
  height: 100%;
}


 .work{
  text-align: center;
  padding:0px  433.23px 0px;
 }

 .work-text h2{
  font-weight: 900;
  font-size: 38px;
  line-height: 143.1%;
  margin-top: 49.28px;
  color: #000000;
 }

 
.work p{
  font-weight: 400;
font-size: 18px;
line-height: 143.1%;
color: #7F7E7E;
width: 519.35px;
margin-top: 20.88px;
}

.btn2 button{
width: 147.02px;
height: 45.83px;
background: linear-gradient(101.53deg, #127CFF -9.34%, #2FC1FE 106.23%);
border-radius: 90px;
text-align: center;
font-weight: 400;
  font-size: 16px;
  line-height: 143.1%;
  /* identical to box height, or 23px */
  
  text-align: center;
   border: none;
   margin-top: 57.22px;
  color: #FFFFFF

}







@media screen and (max-width: 768px){


   ul{
    display: none;
   }

   .software-triangle{
    width: 385.29px;
    height: 340.21px;
  }
  .software-triangle img{
    width: 100%;
    height: 100%;
  }
  /* .modern-section{
  height: 940px;
  padding:0;  
  } */

  .text h3{
    font-size: 45px;
  }

  .modern-software{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }

  .modern-software h2{
    font-size: 25px;
  }
  
  .text button{
    margin-top: 35px;
  }

  .icons{
    display: block;
    margin-top: 30px;
    padding-right: 95px;
  }

  .text h3{
    padding-top:30px;
  }

  .logo1{
    position: absolute;
    top:0;
    left:2px;
  }

  .service-section h2{
    font-size: 15px;
    margin-top: 20px;
  }

  .service-section h3{
    text-align: center;
    font-size: 20px;
  }

  .text p{
    font-size: 14px;
    margin-top: 30px;
    text-align: justify;
    }

    .edge-triangle{
      width: 200.95px;
      height: 200.15px;
    }

    .edge-triangle img{
      width: 100%;
      height: 100%;
     }

      .triangle-text h2{
        font-size: 18px;
        width: 200px;
        margin-top: 20px;
        
     }
     
     .triangle-section{
      display: grid;
      grid-template-columns: 0.2fr 1fr;

      /* display: block;
      margin-top: 50px; */
    }

      .triangle-text p{
      font-size: 15px;
      width: 203.87px;
      margin-bottom: 100px;
      padding-left: 0;
      }

      .circle-section{
        display: block;
        margin-top: 50px;
      }

      .edge-circle{
        width: 200.95px;
        height: 200.15px;
      }
  
      .edge-circle img{
        width: 100%;
        height: 100%;
       }


       .circle-text h2{
        font-size: 18px;
        width: 200px;
        margin-top: 20px;
        
     }
     
      .circle-text p{
      font-size: 15px;
      width: 203.87px;
      margin-bottom: 100px;
      padding-left: 0;
      }

      .square-section{
        display: block;
        margin-top: 50px;
      }

      .edge-square{
        width: 200.95px;
        height: 200.15px;
      }
  
      .edge-square img{
        width: 100%;
        height: 100%;
        padding-left: 0;
       }


       .square-text h2{
        font-size: 18px;
        width: 200px;
        margin-top: 20px;
        
     }
     
      .square-text p{
      font-size: 15px;
      width: 203.87px;
      margin-bottom: 100px;
      padding-left: 0;
      }

      .shape-section{
        padding: 70px;
      }

  }



  
